{% extends "problems/base.html" %}

{% block content %}

    <h1>Submit new problem</h1></br>

    <h4>Please fill in the form below.</h4>
                
    <p class="text">The pdf description file should present the problem, highlighting the motivation that led to
    propose it as a benchmark problem, provide the geometric and inertial data of the system as
    well as the initial conditions and forces acting on the system, the total simulation time,
    the error definition, the conditions that must be satisfied for the simulation to be 
    considered acceptable and the objective to be pursued, the required results and the way 
    they are collected in the results file. The mentioned requirements correspond to forward
    dynamics problems. For different types of analysis, some of them may be not applicable. 
    An example of description file is provided 
    <a href = "{{ MEDIA_URL }}{{sampleproblem.description.name}}">here</a>.</p>

    <p class="text">The solution technical data section of the form asks for two representative values, which will
    be listed in the summary table of the submitted solutions for the specific benchmark problem:
    the accuracy (the simulation error as defined in the description file), and the efficiency 
    (the CPU-time required to run the simulation).</p>

    <p class="text">Besides the txt results file, a compressed file can be optionally uploaded containing the data file
    in case the author has used a commercial software to solve the problem, or the code (in C, C++, 
    Fortran, Matlab, etc.) in case the author has programmed the algorithm to solve the problem, or 
    any additional material that the author may consider helpful for the users.</p>

    <p class="text">The submission will be checked so as to confirm that the information is complete, and published
    as soon as possible. The author will be informed of the publication or asked to complete the 
    submission in case something is missing.</p></br>

    <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">

    <form class="form-horizontal" role="form" action="{% url 'submitproblem' %}" method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}

      <div class="formheader">Submit form</div>
      </br>
      <div class="formtitle">Personal data</div></br>

      <div class="form-group fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="control-label">{{ form.username.label }}</label>
        <input type="text" id="{{ form.username.id_for_label }}" class="form-control" placeholder="John Doe" name="{{ form.username.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}</label>
        <input type="email" id="{{ form.email.id_for_label }}" class="form-control" placeholder="jdoe@mydomain.com" name="{{ form.email.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.authors.errors }}
        <label for="{{ form.authors.id_for_label }}" class="control-label">{{ form.authors.label }}</label>
        <input type="text" id="{{ form.authors.id_for_label }}" class="form-control" placeholder="John Doe, Jane Doe (leave blank to default to submitter)" name="{{ form.authors.html_name }}">
      </div>

      </br></br>

      <div class="formtitle">Problem data</div></br>

      <div class="form-group fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>
        <input type="text" id="{{ form.name.id_for_label }}" class="form-control" placeholder="Example mechanism" name="{{ form.name.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.application.errors }}
        <label for="{{ form.application.id_for_label }}" class="control-label">{{ form.application.label }}</label>
        <select class="form-control" id="{{ form.application.id_for_label }}" name="{{ form.application.html_name }}">
        {% for groupName, group in application_choices %}
            <optgroup label="{{groupName}}">
            {% for optionCode, optionName in group %}
                <option value="{{optionCode}}">{{optionName}}</option>
            {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.topology.errors }}
        <label for="{{ form.topology.id_for_label }}" class="control-label">{{ form.topology.label }}</label>
        <select class="form-control" id="{{ form.topology.id_for_label }}" name="{{ form.topology.html_name }}">
        {% for optionCode, optionName in topology_choices %}
            <option value="{{optionCode}}">{{optionName}}</option>
        {% endfor %}
        </select>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.flexibility.errors }}
        <label for="{{ form.flexibility.id_for_label }}" class="control-label">{{ form.flexibility.label }}</label>
        <select class="form-control" id="{{ form.flexibility.id_for_label }}" name="{{ form.flexibility.html_name }}">
        {% for optionCode, optionName in flexibility_choices %}
            <option value="{{optionCode}}">{{optionName}}</option>
        {% endfor %}
        </select>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.analysis.errors }}
        <label for="{{ form.analysis.id_for_label }}" class="control-label">{{ form.analysis.label }}</label>
        <select class="form-control" id="{{ form.analysis.id_for_label }}" name="{{ form.analysis.html_name }}">
        {% for optionCode, optionName in analysis_choices %}
            <option value="{{optionCode}}">{{optionName}}</option>
        {% endfor %}
        </select>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.contact.errors }}
        <label for="{{ form.contact.id_for_label }}" class="control-label">{{ form.contact.label }}</label>
        <select class="form-control" id="{{ form.contact.id_for_label }}" name="{{ form.contact.html_name }}">
        {% for optionCode, optionName in contact_choices %}
            <option value="{{optionCode}}">{{optionName}}</option>
        {% endfor %}
        </select>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.image.errors }}
        <label for="{{ form.image.id_for_label }}" class="control-label">{{ form.image.label }}</label>
        <input type="file" id="{{ form.image.id_for_label }}" class="form-control"  name="{{ form.image.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}" class="control-label">{{ form.description.label }}</label>
        <input type="file" id="{{ form.description.id_for_label }}" class="form-control"  name="{{ form.description.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.comments.errors }}
        <label for="{{ form.comments.id_for_label }}" class="control-label">{{ form.comments.label }}</label>
        <textarea type="text" id="{{ form.comments.id_for_label }}" class="form-control" rows="8" placeholder="Enter any neccesary comment." name="{{ form.comments.html_name }}"></textarea>
      </div>

      </br></br>

      <div class="formtitle">Solution technical data</div></br>

      <div class="form-group fieldWrapper">
        {{ form.accuracy.errors }}
        <label for="{{ form.accuracy.id_for_label }}" class="control-label">{{ form.accuracy.label }}</label>
        <input type="number" step="any" id="{{ form.accuracy.id_for_label }}" class="form-control" placeholder="0.1234" name="{{ form.accuracy.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.cputime.errors }}
        <label for="{{ form.cputime.id_for_label }}" class="control-label">{{ form.cputime.label }}</label>
        <input type="number" step="any" id="{{ form.cputime.id_for_label }}" class="form-control" placeholder="12.3456" name="{{ form.cputime.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.cpu.errors }}
        <label for="{{ form.cpu.id_for_label }}" class="control-label">{{ form.cpu.label }}</label>
        <input type="text" id="{{ form.cpu.id_for_label }}" class="form-control" placeholder="Intel Core i7 950 @ 3.07 GHz" name="{{ form.cpu.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.os.errors }}
        <label for="{{ form.os.id_for_label }}" class="control-label">{{ form.os.label }}</label>
        <input type="text" id="{{ form.os.id_for_label }}" class="form-control" placeholder="Debian 7 Kernel 3.5.4 (64 bits)" name="{{ form.os.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.method.errors }}
        <label for="{{ form.method.id_for_label }}" class="control-label">{{ form.method.label }}</label>
        <textarea type="text" id="{{ form.method.id_for_label }}" class="form-control" rows="8" placeholder="Explain as much as you can the software used, options, version, method, references or any further helpful information." name="{{ form.method.html_name }}" required></textarea>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.results.errors }}
        <label for="{{ form.results.id_for_label }}" class="control-label">{{ form.results.label }}</label>
        <p>Remember that the file format must meet the requirements specified in the problem description file.</p>
        <input type="file" id="{{ form.results.id_for_label }}" class="form-control"  name="{{ form.results.html_name }}" required>
      </div>

      <div class="form-group fieldWrapper">
        {{ form.miscellaneous.errors }}
        <label for="{{ form.miscellaneous.id_for_label }}" class="control-label">{{ form.miscellaneous.label }}</label>
        <p>Include here all relevant data. If you want to upload multiple files, please include all of them inside a zip file.</p>
        <input type="file" id="{{ form.miscellaneous.id_for_label }}" class="form-control"  name="{{ form.miscellaneous.html_name }}">
      </div>

      </br></br>
      <button type="submit" class="btn btn-default col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-4">Submit</button>
      </br></br></br></br></br></br></br></br>

    </form>
    </div>
    </div>

{% endblock content %}