{% extends "problems/base.html" %}

{% block content %}

	<h1>Terms of Use</h1></br>

	<p>The models, simulation results, and all other information on this website ("Contents") are intended 
	for research purposes only. While we strive to maintain the highest quality possible, IFToMM, authors,
	and users make no guarantees as to the completeness or correctness of the Contents, irrespective of 
	any statements made herein. Authors and users acknowledge that the Contents may be used freely for 
	research purposes, but remain the property of their respective owners. IFToMM, authors, users, and 
	all associated parties will not be held legally liable for any damages including those resulting from
	the retrieval, storage, modification, distribution, or from any other use of the Contents. Use of 
	the Contents shall be at the sole risk of the user.</p></br> 

	<p>Users agree to indemnify and hold authors harmless for all damages including claims, injuries, damages, 
	losses, expenses, and legal fees arising out of the use of the Contents. Users agree to acknowledge 
	authors and include citations in published works where appropriate. The Library of Computational 
	Benchmark Problems can be cited as follows:</p></br> 

	<p>Masoudi, R., Uchida, T., Vilela, D., Luaces, A., Cuadrado, J., McPhee, J. <i>A library of computational 
	benchmark problems for the multibody dynamics community</i>. ECCOMAS Thematic Conference Multibody Dynamics
	2013 , Zagreb, Croatia, 1&ndash;4 July 2013.</p></br></br></br></br>   

{% endblock content %}